#bx-admin-prefix .adm-detail-content-item-block table.linkedproductstable-table,
#bx-admin-prefix .adm-detail-content-item-block table.linkedproductstable-table td,
{
}

.product-table-wrapper {
	border-radius: 0 0 4px 4px;
	border: 1px solid #ced7d8;
	box-shadow: 0 0 1px rgba(0,0,0,.3), 0 1px 1px rgba(0,0,0,.3), inset 0 1px 0 #fff, inset 0 0 1px rgba(255,255,255,.5);
}
